body {
    background-color: #fff;
    color: #000;
    font-family: "Open Sans", "Microsoft JhengHei", sans-serif;
    font-size: 15px;
    margin: 0;
    padding: 0;
}

.container,
.container-fluid {
    padding-bottom: 40px;
}

[class*=grid-] + [class*=grid-] {
    margin-top: 40px;
}

[class*=grid-] > [class*=column-] {
    background-color: #42cafd;
    color: #333;
    line-height: 60px;
    text-align: center;
}

[class*=grid-] [class*=grid-] > [class*=column-] {
    background-color: #3599c3;
}

[class*=grid-] > [class*=column-][class$="only"] {
    background-color: yellow;
}

a {
    text-decoration: none;
    font-size: 15px;
}

h2 {
    font-size: 20px;
}

pre {
    margin: 0;
    padding: 15px;
    overflow: auto;
    font-size: 85%;
    line-height: 1.45;
    background-color: #f7f7f7;
    border: 1px solid #ccd5ff;
    border-radius: 3px;
    color: #333;
}

.project {
    color: #4685b9;
    font-size: 30px;
    text-align: center;
}

.list {
    padding-left: 10px;
    margin-bottom: 0;
    line-height: 22px;
}

.title {
    color: #4685b9;
    font-size: 22px;
}
