$class-ctn: 'container';
$class-grid: 'grid';
$class-col: 'col';
$class-mob: 'mobile';
$class-tab: 'tablet';
$class-comp: 'computer';
$all-grid: '[class*=#{$class-grid}-]';
$all-col: '[class*=#{$class-col}-]';
$all-mob: '[class*=#{$class-mob}-]';
$all-tab: '[class*=#{$class-tab}-]';

// 不同格數欄位的類型
$grid-numbers: (12, 16, 10);

// 響應式設計，螢幕在電腦、平板、手機螢幕中的寬度之最大尺寸
$size-max-comp: 1200px;
$size-max-tab: 991px;
$size-max-mob: 767px;

// 螢幕在平板、手機螢幕中的最大欄位數，每個欄位寬度都是均分的
$tab-max-col: 4;
$mob-max-col: 3;

// 每個欄位的間距、每行上下的間距
$col-gap: (general: 15px, relaxed: 30px, more-relaxed: 50px);
$row-gap: (general: 15px, relaxed: 30px, more-relaxed: 50px);

$version: 'v1.2.2';


@mixin clear-empty-col {
  margin-left: 0;
  margin-right: 0;
}

@mixin hide-element {
  display: none !important;
}

@mixin fill {
  flex-grow: 1;
  flex-shrink: 1;
  max-width: 100%;
}
